---
// import the Image component and the image
import { Image } from 'astro:assets';
import avatar from "../assets/photo_small.jpg"; // Image is 128x85
---

<Fragment>
  <div class="avatar">
    <a class="unset" href="/">
      <Image src={avatar} alt="A photo of Robin smiling." />
    </a>
  </div>
</Fragment>


</script>

<style>
  .avatar {
        width: 64px;
        height: 64px;
        /* float: left; */
    }

    .avatar img {
        border-radius: 10%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
