---

---

<section id="intro" class="py-8 px-8 lg:px-8 border border-solid border-x-0 border-t-0 border-b-1">
    <p class="pb-8 text-slate-600">
      Als software en technologie niet aansluiten op bedrijfsprocessen, dan is er minder tijd
      voor klantbeleving, innovatie en strategie. Doe waardevol werk. <i>En automatiseer de rest.</i>
    </p>
</section>  


