---
import Card from "../components/Card.astro";
import Newsletter from "./Newsletter.astro";
---

<section id="leader" class="pb-16 px-8 lg:px-8">
  <!-- <div class="inline-block mb-4 px-2 py-1 text-sm bg-[#e0fcf5] text-green-600 rounded-full">
    Beschikbaar om <i>superwork</i> te leveren voor jouw organisatie
  </div> -->
  <!-- <div class="inline-block mb-6 px-3 py-1 text-sm bg-orange-100 text-orange-500 rounded-full">
    Niet beschikbaar tot 01-09-2024 &mdash; maar ik bespreek graag jouw project
  </div> -->
  <div id="leader" class="pt-16 pb-32 w-5/5 lg:w-5/5">
    <h2 class="">
      <span class="inline-block">
        Integreer bedrijfstechnologie.<br/> 
        Creëer <span class="highlight"> klantwaarde.</span>
      </span>
    </h2>
  </div>

  <div class="lg:flex gap-x-8 items-stretch ">
    <div class="grow w-64">
      <h3>Technologie inzetten voor groei?</h3>
      <p>Ontvang dagelijks tips, resources en strategie waarmee je technologie inzet om je omzet te laten groeien.</p>
    </div>
    <div class="self-center px-8">
      <span class="text-[64px] font-[100]">→</span>
    </div>
    <div class="grow self-center">
      <h3 class="w-full">Meld je aan.</h3>
      <div class="">
        <Newsletter />
      </div>
      <!-- <a class="button text-sm unset px-4 py-2 bg-slate-50 border-slate-200 hover:bg-slate-100 border shadow-sm text-slate-600 rounded-full" href="mailto:robin@superwork.nl">Stuur een email</a> -->
      <!-- <a id="copyEmail" class="button text-sm unset px-4 py-2 bg-slate-50 border-slate-200 hover:bg-slate-100 border shadow-sm text-slate-600 rounded-full" href="#">{buttonText}</a> -->
    </div>
  </div>

</section>


