---
// import the Image component and the image
// import { Image } from 'astro:assets';
// import avatar from "../assets/photo_small.jpg"; // Image is 128x85
---

<Fragment>
  <div class="grid grid-cols-3 border border-solid border-t-0 border-x-0 border-b-1">
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8">
      <h3 class="text-xl">Human-First Automatisering</h3>
      <p>Volgt z.s.m.!</p>
    </div>
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8">
      <h3 class="text-xl">Ontwerp</h3>
      <p>Volgt z.s.m.!</p>
    </div>
    <div class="col-span-1 h-64 p-8">
      <h3 class="text-xl">Implementatie</h3>
      <p>Volgt z.s.m.!</p>
    </div>
    <!-- <div class="col-span-1">
      <div class="bg-gray-200 h-48 rounded-lg overflow-hidden shadow-lg relative">
        <img src="image3.jpg" alt="image3" class="w-full h-3/4 object-cover">
        <div class="p-4 absolute bottom-0">
          <h4 class="text-m font-semibold">Title 3</h4>
          <p class="text-gray-600">Some text here</p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="bg-gray-200 h-48 rounded-lg overflow-hidden shadow-lg relative">
        <img src="image4.jpg" alt="image4" class="w-full h-3/4 object-cover">
        <div class="p-4 absolute bottom-0">
          <h4 class="text-m font-semibold">Title 4</h4>
          <p class="text-gray-600">Some text here</p>
        </div>
      </div> -->
    </div>
  </div>
</Fragment>


<style>
  .avatar {
        width: 64px;
        height: 64px;
        /* float: left; */
    }

    .avatar img {
        border-radius: 10%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
