---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <nav class="flex">
    <section class="flex items-center text-text-bold">
      <ul class="unset flex gap-0">
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/about/">Over</HeaderLink></li> -->
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/">Diensten</HeaderLink></li> -->
        
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/over">Over</HeaderLink></li> -->
        <li class=""><HeaderLink class="menu-item rounded-lg align-middle px-4 py-2" href="/nieuwsbrief">Nieuwsbrief</HeaderLink></li>
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/contact">Contact</HeaderLink></li> -->
        <li class=""><HeaderLink class="menu-item rounded-lg align-middle px-4 py-2" href="https://cal.com/superwork">Kennismaken?</HeaderLink></li>
      </ul>
    </section>
  </nav>
</Fragment>


