---
---

<Fragment>
  <div class="border-solid border-0 border-b p-8">
    <h4 class="pb-4 w-2/3">De superwork nieuwsbrief is voor alle toekomstgerichte leiders, die alles willen weten over technologie in organisaties. Je ontvangt mijn inzichten eens per week, op woensdag, om 08:00.</h4>
    <h5 class="pb-4">Meld je aan voor de superwork nieuwsbrief:</h5>
    <div class="block">
      <iframe src="https://embeds.beehiiv.com/6777a2fb-0b8e-40a5-9266-1043c03a48ff?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent; width: 40%"></iframe>
    </div>  
    
  </div>
</Fragment>

