---
---

<Fragment>
  <div class="border-solid border-0 border-b dots">
    <div class="flex flex-auto">
      <div class="flex flex-col flex-nowrap flex-shrink-0 justify-center justify-items-center align-middle items-center card rounded-2xl m-4 p-8 bg-slate-50 border border-slate-300 content-center">
        <img class="w-12 h-12 mb-4 object-cover rounded-full" src="/images/photo.jpg"/>
        <p>"Hier volgt een quote over samenwerken met Robin."</p>
        <p class="text-base text-slate-300">Voornaam Achternaam - Functie bij Organisatie</p>
      </div>
    
      <div class="flex flex-col flex-nowrap flex-shrink-0 justify-center justify-items-center align-middle items-center card rounded-2xl m-4 p-8 bg-slate-50 border border-slate-300 content-center">
        <img class="w-12 h-12 mb-4 object-cover rounded-full" src="/images/photo.jpg"/>
        <p>"Hier volgt een quote over samenwerken met Robin."</p>
        <p class="text-base text-slate-300">Voornaam Achternaam - Functie bij Organisatie</p>
      </div>
      
    </div>
  </div>
</Fragment>

