---
---

<Fragment>
  <div class="max-w-lg mx-auto p-6 bg-slate-200/40 rounded-2xl mt-4">
    <div class="flex items-center space-x-4">
      <img
        alt="John Grange"
        loading="lazy"
        width="400"
        height="400"
        decoding="async"
        data-nimg="1"
        class="w-12 h-12 rounded-full object-cover"
        style="color:transparent"
        srcset=""
        src="/images/photo.jpg"
      /><div>
        <div class="text-base font-medium">John Grange</div><div
          class="text-muted-foreground text-sm"
        >
          Software Engineer at Apple
        </div>
      </div>
    </div><blockquote class="mt-4 text-muted-foreground">
      “I have had the pleasure of working with Kyler for the last year and a
      half and he is one of the most talented designers I have ever worked
      with.”
    </blockquote>
  </div>
</Fragment>
