---
import PageMeta from "../components/PageMeta.astro";
import HomePageLayout from "../layouts/HomePageLayout.astro";
import { SITE_TITLE } from "../config";
import Services from "src/components/Services.astro";
import Method from "src/components/Method.astro";
---

<HomePageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main" class="staggering">
    <!-- <Method /> -->
    <!-- <Services /> -->

    <!-- <h3 class="pt-4">
      <span class="inline-block leading-normal mt-8 pb-4">De wereld verandert razendsnel. </span>
    </h3>
    <p>Om relevant te blijven moet je innoveren. Maar daar heb je geen tijd voor. Je wil processen automatiseren zodat jouw team kan bouwen aan innovatieve diensten en producten.</p> -->
      <!-- <section class="mb-8 stagger-unit loaded" style="--stagger: 2;">
        <h3 class="pt-4">
          <span class="inline-block leading-normal mt-8 pb-4">Als jouw team een voordeel zou hebben door beter gebruik te maken van data en automatisering, waarom krijgt het dan niet meer aandacht?</span>
        </h3>
        <p>
          I believe in utilizing technology for tasks that don't inspire passion, enabling us to redirect our focus towards creating real value.
        </p>
      </div>
    </section> -->
<!-- 
    <section class="stagger-unit loaded" style="--stagger: 2;">
      <h3>
        <span class="inline-block leading-normal mt-6 pb-4">De wereld verandert razendsnel. </span>
      </h3>


    </section>
    <section class="stagger-unit" style="--stagger: 4;">
      <h3 class="">
        <span class="inline-block leading-normal mt-8 pb-4">Als jouw concurrent vandaag start, dan automatiseert hij meteen wat jij handmatig uitvoert.</span>
      </h3>
      <div class="mt-0">
        Stel je eens voor dat je team de tijd heeft om te bouwen aan innovatieve diensten en producten, terwijl saaie, repetitieve taken automatisch worden uitgevoerd. Met mijn aanpak van projecten van 3-6 weken, gericht op business technologie en procesinnovatie, kunnen we samen efficiënte workflows creëren zonder het grotere plaatje uit het oog te verliezen.
        <p class="mb-4">
          <span class="font-bold inline-block pt-2">Wat ik doe:</span> projecten van 3-6 weken waarbij we business technologie inzetten voor procesinnovatie en efficiënte workflows.
          <span class="font-bold inline-block pt-2">Wat ik niet doe:</span> automatiseren zonder naar het geheel te kijken.
        </p>
        
      </div>
      <div class="mt-8">
         <h3 class="">Expertisegebieden.</h3> 
        <p class="text-s mb-12">
          Ik ontwerp en implementeer moderne processen door inzet van:
        </p>
      </div>
    </section> -->
    <!-- <a class="cta" href="https://cal.com/robinpapa">Maak snel een vrijblijvende afspraak →</a> -->
    
  </Fragment>
</HomePageLayout>
