---
// Important stuff

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Leader from "../components/Leader.astro";
import Intro from "../components/Intro.astro";
import Card from "../components/Card.astro";
import Logos from "../components/Logos.astro";
import Services from "../components/Services.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html class="theme-main" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <slot name="meta" />
    <Favicon />
    <GoogleFont />
  </head>

  
  <body>
    <section class="bg-[#F2F5FA]">
      <div class="max-w-screen-sm sm:max-w-screen-xl mx-0 lg:mx-auto ">
        <Header />
        <Leader />
      </div> 
    </section>
    <section>
      <!-- <Logos /> -->
    </section>
    <section class="max-w-screen-sm sm:max-w-screen-xl mx-0 lg:mx-auto">
      <div class="rounded-t-2xl mb-4 mt-4 p0">
        <!-- <Intro /> -->
        <!-- <div class="lg:columns-3">
          <Card />
          <Card />
          <Card />
        </div> -->

        <!-- <Banner /> -->
        <main id="main">
          <slot name="main" />
        </main>
        <Footer />
      </div>
    </section>
  </body>
</html>
