---

---


  <section id="leader" class="py-8 lg:py-32 px-8 lg:px-8 border border-solid border-x-0 border-t-0 border-b-1 dots">
    <div class="inline-block mb-4 px-3 py-1 text-sm bg-green-200 text-green-600 rounded-full">
      Beschikbaar voor project
    </div>
    <!-- <div class="inline-block mb-6 px-3 py-1 text-sm bg-orange-100 text-orange-500 rounded-full">
      Niet beschikbaar tot 01-09-2024 &mdash; maar ik bespreek graag jouw project
    </div> -->
    <div class="w-5/5 lg:w-5/5">
      <h2 class="">
        <span class="inline-block pb-4 text-sky-950">superwork is dé agency die organisaties<br/> <strong>klantgerichter maakt</strong> 
        met <strong>slimme technologie</strong>.</span>
        <!-- <span class="inline-block pb-8 text-sky-950"><strong>Versterk jouw innovatiepositie</strong> 
        <br/> met slimme business technologie</span> -->
      </h2>
      <p class="pb-4 text-slate-600">
        Laat technologie voor jullie werken en focus op waardevol werk dat er echt toe doet.<br/>Dan realiseer je moeiteloos exponentiële groei voor jouw organisatie.
        <!-- Of het nou gaat om ERP, CRM, Sales, Marketing, Automatisering en Robotisering.</i> -->
        <!-- Als software en technologie niet aansluiten op processen, dan wordt er minder aandacht geschonken aan
        klantbeleving, innovatie en strategie. Is dat niet jammer? Laat technologie <i>voor jou</i> werken. -->
        <!-- Doe waardevol werk. <i>En automatiseer de rest.</i> -->
      </p>
      <!-- <p class="pb-8 text-slate-600 text-sm">Wij implementeren tools die bij jouw organisatie passen &mdash; of het nu gaat om relatiebeheer, logistiek, marketing, sales, automatisering, robotisering of low-code.</p> -->

      <a class="button unset px-4 py-2 border border-slate-200 bg-slate-50 text-slate-600 rounded-full" href="https://cal.com/robinpapa">Maak een vrijblijvende afspraak →</a>
    </div>
  </section>  


