---
// import the Image component and the image
import Card from "../components/Card.astro";
// import { Image } from 'astro:assets';
// import avatar from "../assets/photo_small.jpg"; // Image is 128x85
---

<Fragment>
  <div class="grid grid-cols-1 md:grid-cols-3 border border-solid border-t-0 border-x-0 border-b-1">
    <div class="col-span-1 border border-solid border-y-0 border-l-0 border-b-1 md:border-b-0 p-8">
      <h3 class="text-xl pb-4">Bedrijfstechnologie</h3>
      <p class="text-base pb-4">Organisaties vinden het lastig om bedrijfstechnologie goed aan te laten sluiten op hun bedrijfsprocessen.</p>
      <p class="text-base pb-4">Wij zijn experts in het ontwerpen en implementeren van platforms waarin we bestaande technologie en software integreren.</p>
      <!-- <p class="text-sm">Ik ben er voor het Nederlandse klein- en middenbedrijf dat voorop wil lopen en voor de organisatie waar men begrijpt dat op den duur elk bedrijf een IT-bedrijf wordt.</p> -->
    </div>
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8 dots">
      <h3 class="text-xl pb-4">Operationele Tools</h3>
      <p class="text-base pb-4">We implementeren tools die zorgen voor een efficiëntere uitvoering van processen en meer inzicht in de operatie. Daarnaast wordt het eenvoudig om nieuwe technologie toe te voegen.</p>
      <p class="text-base pb-4">Het resultaat is een moderne organisatie dat technologie inzet voor verbeterde bedrijfsvoering.</p>
      <!-- <p class="text-sm pb-4">Je hebt geen grote IT-partners nodig: kleine projecten maken een wereld van verschil.</p> -->
      <!-- <p class="text-base pb-4">Van workshops tot procesontwerp, van ontwikkeling tot implementatie &mdash; ik begeleid het gehele proces.</p> -->

    </div>
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8">
      <h3 class="text-xl pb-4">Voor Innovators</h3>
      <p class="text-base pb-4">We zijn er voor eigenaren en managers die de noodzaak van technologische innovatie zien, specifiek binnen operationele processen.</p>
      <p class="text-base pb-4">We werken graag samen met organisaties die met technologie hun bedrijfsprocessen stroomlijnen en naar een hoger niveau willen tillen.</p>
      <!-- <p class="text-base pb-4">Ik neem iedere belanghebbende mee in het ontwerpproces en ik deel mijn kennis zodat de innovatiepositie van jouw organisatie versterkt wordt.</p> -->
    </div>
  </div>
  <!-- <Card /> -->

</Fragment>
