<Fragment>
  <div class="avatar ">
    <a href="/">
      <img src="/public/images/avatar_robinpapa.jpg"/>
    </a>
  </div>
</Fragment>


</script>

<style>
  .avatar {
        width: 64px;
        height: 64px;
        float: left;
    }

    .avatar img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>
