---
const currentYear = '2024';
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
   &copy; {currentYear} Robin Papa
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    align-items: center;
    justify-content: center;
  }

</style>
