---
import DarkModeToggle from "./DarkModeToggle.astro";

const currentYear = new Date().getFullYear();
---

  <footer class="text-xs leading-[1.75] mt-4 pb-4 staggering">
  <DarkModeToggle />

  <div class="stagger-unit" style="--stagger: 10;">
   &copy; {currentYear} SuperWork
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    align-items: center;
    justify-content: center;
  }

</style>
