---
let randomNumber = Math.floor(Math.random() * 2);
const introTextCollection = [
  ['Robin develops applications','for every business process.'],
  ['I combine business processes', 'with practical technical solutions.'],
  // ['3A', '3B'],
  // ['4A', '4B'],
];
let chosenText = introTextCollection[randomNumber];
---

<section class="mb-8">
  <div class="mb-6">

  <h1
    class="text-4xl pt-4 pb-2 overflow-hidden "
  >
    <!-- <span
      class="
          bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
          from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
      "
    > -->
    <span class="italic leading-normal">
      {chosenText[0]}<br class="m-hide">
      {chosenText[1]}
    </span>
  </h1>
    
  </div>
  <div>
    <h2 class="">About Robin.</h2>
    <p class="mb-5">
      Hello, I'm Robin Papa. I combine technology with process optimization to assist every organization in developing innovative possibilities.
    </p>
    <p class="mb-5">
      I believe in utilizing technology for tasks that don't inspire passion, enabling us to redirect our focus towards creating real value.
    </p>

    <h3 class="">How I add value.</h3>
    <p class="text-s mb-5">
      Discover what I'm working on <a href="/now/">now</a> or learn more <a class="animated-link" href="/about/">about me</a>. 
    </p>

    <!-- <h3 class="">My notes.</h3>
    <p class="header-s">
      <ul>
        <li class="mt-0">Retool (soon!)</li>
      </ul>
    </p> -->
    
  </div>
</section>
