---

---


  <section id="leader" class="py-32 px-8 lg:px-8 border border-solid border-x-0 border-t-0 border-b-1 dots">
    <div class="inline-block mb-6 px-3 py-1 text-sm bg-green-200 text-green-600 rounded-full">
      Beschikbaar
    </div>
    <div class="w-4/5 lg:w-4/5">
      <h2 class="">
        <span class="inline-block pb-8 text-sky-950"><strong>Ik implementeer bedrijfstechnologie,</strong> 
        <br/>volledig afgestemd op jouw bedrijfsproces.</span>
        <!-- <span class="inline-block pb-8 text-sky-950"><strong>Versterk jouw innovatiepositie</strong> 
        <br/> met slimme business technologie</span> -->
      </h2>
      <p class="pb-8 text-slate-600">
        Als software en technologie niet aansluiten op processen, dan wordt er minder aandacht geschonken aan
        klantbeleving, innovatie en strategie. Is dat niet jammer? Laat technologie <i>voor jou</i> werken.
        <!-- Doe waardevol werk. <i>En automatiseer de rest.</i> -->
      </p>
      <a class="button unset px-4 py-2 border border-slate-200 bg-slate-50 text-slate-600 rounded-full" href="https://cal.com/robinpapa">Maak een vrijblijvende afspraak →</a>
    </div>
  </section>  


