---

---


<section id="leader" class="py-32 px-8 lg:px-8 border border-solid border-x-0 border-t-0 border-b-1">
  <section class="stagger-unit loaded" style="--stagger: 0;">
    <div class="w-4/5 lg:w-3/5">
      <h2 class="">
        <span class="inline-block pb-0"><strong>Versterk jouw innovatiepositie</strong> 
        <span><br/> met slimme business technologie</span>
      </h2>
      <p class="pt-4 pb-8 text-slate-600">
        Veel teams besteden tijd aan herhalend werk, waardoor ze minder tijd hebben
        voor klantbeleving, innovatie en strategie. Doe waardevol werk. <i>En automatiseer de rest.</i>
      </p>
      <a class="cta unset px-4 py-2 bg-sky-950 text-sky-100 hover:text-sky-700 hover:bg-sky-200 rounded-full" href="https://cal.com/robinpapa">Maak een vrijblijvende afspraak →</a>
    </div>
    <div>
    </div>
  </section>
</section>


