---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <nav class="flex">
    <section class="flex items-center text-text-bold">
      <ul class="unset flex gap-4">
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/about/">Over</HeaderLink></li> -->
        <!-- <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="/">Diensten</HeaderLink></li> -->
        <li class="menu-item rounded-lg align-middle px-4 py-1"><HeaderLink href="https://cal.com/robinpapa">Koffie?</HeaderLink></li>
      </ul>
    </section>
  </nav>
</Fragment>


