---
// import the Image component and the image
import Card from "../components/Card.astro";
// import { Image } from 'astro:assets';
// import avatar from "../assets/photo_small.jpg"; // Image is 128x85
---

<Fragment>
  <div class="grid grid-cols-1 md:grid-cols-3 border border-solid border-t-0 border-x-0 border-b-1">
    <div class="col-span-1 border border-solid border-y-0 border-l-0 border-b-1 md:border-b-0 p-8">
      <h3 class="text-xl pb-4">Jouw partner voor business technology</h3>
      <p class="text-sm pb-4">Ik verbind technologie met de onmisbare creativiteit van jouw team. Zo versterken we de innovatiepositie en creëer je elke dag meer waarde voor jouw klanten.</p>
      <p class="text-sm">Ik ben er voor het Nederlandse klein- en middenbedrijf dat voorop wil lopen en voor de organisatie waar men begrijpt dat op den duur elk bedrijf een IT-bedrijf wordt.</p>
    </div>
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8 dots">
      <h3 class="text-xl pb-4">Analyseren, adviseren & implementeren</h3>
      <p class="text-sm pb-4">Ik breng bedrijfskunde en bedrijfstechnologie samen, zodat jouw organisatie kan doen waar het goed in is.</p>
      <p class="text-sm pb-4">Je hebt geen grote IT-partners nodig: kleine projecten maken een wereld van verschil.</p>
      <p class="text-sm">Van workshops tot procesontwerp, van ontwikkeling tot implementatie &mdash; ik begeleid het gehele proces.</p>

    </div>
    <div class="col-span-1 h-64 border border-solid border-y-0 border-l-0 p-8">
      <h3 class="text-xl pb-4">Innoveren &amp; begeleiden</h3>
      <p class="text-sm pb-4">Technologische vooruitgang kan niet plaatsvinden zonder de onmisbare creativiteit van jouw medewerkers.</p>
      <p class="text-sm">Ik neem iedere belanghebbende mee in het ontwerpproces en ik deel mijn kennis zodat de innovatiepositie van jouw organisatie versterkt wordt.</p>
    </div>
  </div>
  <!-- <Card /> -->

</Fragment>
