---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";

const lastUpdated = "18 Jan, 2024";
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <section class="mb-8">
      <div class="mb-8 stagger-unit" style="--stagger: 0">
        <h1 class="text-3xl pb-2 overflow-hidden">
         
          <span class="leading-normal"> Now.</span>
        </h1>
        <h2>I collect the most useful apps and websites. Enjoy!</h2>

        <p class="text-sm">
          Last updated: {lastUpdated}. &mdash; <a
            href="https://nownownow.com/about">What is a now page?</a
          >
        </p>
      </div>
      <div class="stagger-unit" style="--stagger: 1">
        <h3 class="">Now.</h3>
        <p class="mb-5">
          I am currently working as an operational manager at <a
            href="https://www.froconsur.com">Froconsur</a
          > in Leeuwarden, where I am responsible for process optimization, automation,
          and application development.
        </p>
        <ul>
          <li>Currently Reading: <a href="https://literal.club/book/the-end-of-everything-02ocg">The End of Everything (Astrophysically Speaking) &mdash; Katie Mack</a></li>
          <li>
            Creating and posting useful technology content on social media. &mdash;
            Objective: 150 snippets of content in 2024.
          </li>
          <li>Dabbling in video editing with DaVinci Resolve, but I'm contemplating to use Adobe Premiere.</li>
          <li>Getting into the habit of using ChatGTP for shaping thoughts.</li>
        </ul>
      </div>
      <div class="stagger-unit" style="--stagger: 2">
        <h3 class="mt-8">Recently.</h3>
        <ul>
          <li>I finished reading <a href="https://literal.club/book/meghan-ogieblyn-god-human-animal-machine-2mxgl">God, Human, Animal, Machine &mdash; Meghan O'Gieblyn</a> and it's one of the best books I've read in a long time.</li>
          <li>
            I launched this website and I'm happy with the outcome! Now I have a
            place to share my thoughts and findings.
          </li>
        </ul>
      </div>
      <div class="stagger-unit" style="--stagger: 2">
        <h3 class="mt-8">Future Plans.</h3>
        <ul>
          <li>Visit the island of St. Martin in the Caribbean, as <a href="https://www.foodiearanka.nl">Aranka</a> grew up there.</li>
          <li>Create a separate currently reading + finished reading section, and retrieve that info via the <a href="https://literal.club/pages/api">Literal.club API</a>.</li>
        </ul>
      </div>
    </section>
  </Fragment>
</PageLayout>
