---
import PageMeta from "../components/PageMeta.astro";
import AppLayout from "../layouts/AppLayout.astro";
import { SITE_TITLE } from "../config";

const lastUpdated = '29 Nov, 2023'
---

<AppLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <section class="mb-8">
      <div class="mb-6">
        <h1
          class="text-4xl pt-4 pb-2 overflow-hidden"
        >
          <!-- <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      > -->
          <span class="italic leading-normal">
            Now <br class="m-hide" />
          </span>
        </h1>
        <p class="text-xs pb-4">
          Last updated: {lastUpdated}. &mdash; <a
            href="https://nownownow.com/about">What is a now page?</a
          >
        </p>
      </div>
      <div>
        <h2 class="">What I'm currently working on.</h2>
        <p class="mb-5">
         I am currently working as an operational manager at <a href="https://www.froconsur.com">Froconsur</a> in Leeuwarden, where I am responsible for process optimization, automation, and application development.
        </p>

        <h3 class="mt-8">Furthermore.</h3>
        <ul>
          <!-- <li>Athene bezoeken</li> -->
          <li>Launched this website!</li>
          <!-- <li>Coming soon!</li> -->
          <!-- <li>Een collectie van inspirerende artikelen en websites publiceren</li> -->
        </ul>

        <h3 class="mt-8">What I did recently.</h3>
        <ul>
          <!-- <li>Road trip Noord-Spanje</li> -->
          <li>Coming soon!</li>
        </ul>

        <h3 class="mt-8">Future Plans.</h3>
        <ul>
          <!-- <li>Naar St. Maarten</li> -->
          <li>Coming soon!</li>
        </ul>
      </div>
    </section>
  </Fragment>
</AppLayout>
