/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

}

body, html {
  height: 100%;
}

a {
  color: #1EAEDB;
  text-decoration: none;
}

b {
    font-weight: 500;
}

img {
  max-width: 100%;
}

.container {
    padding-bottom: 140px;
}

p, .container ul li, table{
    line-height: 3rem;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container ul li {
    list-style: disc outside;
}



/* table */

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.7em;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table thead {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: bottom;

}

.pure-table thead th {
    font-weight: 500;
}

.pure-table th, .pure-table td {
    padding: 0.5em 1em;
}
.pure-table td, .pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

td, th {
    padding: 0;
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* --------------------------------

Main components

-------------------------------- */



.cd-section {
  position: relative;
    max-width: 90%;
}

.cd-section h2 {
    padding-top: 100px;
}

.cd-section h3 {
    padding-top: 60px;
}

/* Table */

ul.swot {
    font-size: 0; /* Fixes Whitespace */
    margin: 2% 0;
}

ul.swot li {
    white-space: nowrap;
    display: inline-block;
    width: 49%;
    padding: 2%;
    margin: 0;
    font-size: 15.3px;
    background: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.swot li:first-of-type {
    margin-right: 2%;
}

/* Logo */

.logo {
    margin-top: 48px;
    border: 1px solid #EEE;
    padding: 24px 24px;
}

.screenshot {
    margin-top: 48px;
    border: 1px solid #EEE;
    padding: 24px 24px;
    width: auto;
    overflow: hidden;
}

.screenshot img{
    margin: 10px;
}


.logo a, .logofooter a{
    font-weight: 100;
    letter-spacing: -0.5px;
    font-size: 1.4em;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
}

.logo a:hover, .logo a:focus, .logo a:active{
    text-decoration: none;
    border: none;
}

.logo a + span {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin-left: 5px;
}

.logo span, .logofooter span {
    font-weight: 500;
    letter-spacing: -0.8px;
}


/* No Touch devices */

figcaption {
    margin: 12px 0 24px;
    text-transform: none;
}

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;

}
.no-touch #cd-vertical-nav li {
  text-align: right;
    list-style: none;
    margin-bottom: 0;
}

.no-touch #cd-vertical-nav li.small {
    margin-right: 2px;
}

.summary {
    padding: 24px;
    margin: 24px 0;
    background: #EEE;
    font-size: 0.8em;
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2); /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2); /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 4px rgba(0,0,0,.2); /* Opera 10.5, IE9, Chrome 10+ */
}

.summary h4{
    font-size: 1.4em;
}

.card {
    padding: 24px;
    width: 48%;
    float: left;
    display: inline-block;
    background: #FFF;
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.1); /* FF3.5+ */
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1); /* Saf3.0+, Chrome */
    box-shadow: 2px 2px 6px rgba(0,0,0,.1); /* Opera 10.5, IE9, Chrome 10+ */
    text-align: center;
    margin: 0px 0 36px;
}

.card.small {
    width: 32%;
}

.cardcontainer {
    width: 100%;
    float: left;
}

.card:first-of-type {
    margin-right: 2%;
}

.card.small:nth-of-type(2), .card.small:nth-of-type(1) {
    margin-right: 1%;
}

.card img {
    border-radius: 50%;
    width: 96px;
    height: 96px;

    display: block;
    margin: 0 auto 24px;
}

.card p {
    font-size: 0.8em;
}

.card ul li {
    margin: 8px 0;
    font-size: 0.8em;
    list-style: none;
}

.card ul li ul.taglist {
    margin: 0;
}

.card ul li ul.taglist li {
    display: inline;
    font-style: italic
}

.card ul li ul.taglist li:first-of-type:before {
    content: "";
    }

.card ul li ul.taglist li:before {
    content: "- ";
    }
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.no-touch #cd-vertical-nav a:hover .cd-dot {
  background: #1EAEDB;
}

.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  color: #1EAEDB;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: #333;
    -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.no-touch #cd-vertical-nav a.is-selected .cd-label {
  color: #333;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 10px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #d9d9d9;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.no-touch #cd-vertical-nav .small .cd-dot {
    top: 10px;
    border-radius: 0;
    height: 5px;
    width: 5px;
}

.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .6em;
  color: #AAA;
/*  font-size: 14px;*/
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: -webkit-transform 0.2s, color 0.5s;
  -moz-transition: -moz-transform 0.2s, color 0.5s;
  transition: transform 0.2s, color 0.5s;
  opacity: 1;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
    -webkit-font-smoothing: antialiased;
}

.no-touch #cd-vertical-nav .small .cd-label {
    font-size: 1rem;
    color: #d9d9d9;
}


/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #1EAEDB;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}


@font-face {
    font-family: 'si';
    src: url('../socicon/socicon.eot');
    src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon/socicon.woff') format('woff'),
         url('../socicon/socicon.ttf') format('truetype'),
         url('../socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('../socicon/socicon.svg') format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 26px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: 6px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;

}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
.soc-email1 {
    background-color: #578AD6;
}
.soc-email1:before {
    content:'<';
}

.soc-twitter:hover {
    background-color: #3993ca;
}
.soc-facebook:hover {
    background-color: #2a4784;
}
.soc-linkedin:hover {
    background-color: #1f5da3;
}
.soc-instagram:hover {
    background-color: #88685a;
}
.soc-email1:hover {
    background-color: #4376c2;
}

